.banner {
  min-height: 500px;
  height: 104vh;
  margin-top: -20px;
}

.logo {
  margin-top: 20px;
  height: 90px;
  width: 350px;
}

.description {
  margin-top: 0px;
  font-family: Courier;
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/** Home Page **/

.emoji-row img {
  height: 100px;
  width: 100px;
}

.start-btn {
  padding: 5px;
  width: 300px;
  font-size: 30px;
}

/** Game Display **/

.title {
  color: white;
  text-align: center;
}

.quiz-box {
  margin: 0 auto;
  width: 60%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  box-shadow: inset 0 0 10px black;
  min-height: 280px;
}

.emoji {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.info {
  font-family: Courier;
  font-weight: bold;
}

.info-mobile {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.answer-bar {
  margin: 15px;
  text-align: center;
}

.submit {
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
}

.submit:hover {
  background-color: #4C4C4C;
}

.submit:active {
  box-shadow: 0px 0px 3px black;
}

.check {
  color: green;
}

.cross {
  color: red;
}

.see-answer {
  color: #1FAEFF;
  font-weight: bold;
  margin: 5px auto;
  width: 100px;
}

.see-answer:hover {
  text-decoration: underline #1FAEFF;
  cursor: pointer;
}

.buttons button {
  display: block;
  margin: 10px auto;
  width: 300px;
}

.next-button {
  background-color: white;
  border: 1px solid #0000C5;
  color: #0000C5;
  height: 30px;
  font-weight: bold;
  border-radius: 15px;
}

.next-button:hover {
  background-color: #0000C5;
  color: white;
}

.end-button {
  background-color: white;
  border: 1px solid #DB0707;
  color: #DB0707;
  height: 30px;
  font-weight: bold;
  border-radius: 15px;
}

.end-button:hover {
  background-color: #DB0707;
  color: white;
}

.no-focus:focus {
  outline: 0;
}

/** Results Page **/

.emoji-results {
  height: 80px;
  width: 80px;
}

.play-again {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ED9B08;
  color: #ED9B08;
  font-weight: bold;
  margin-top: 20px;
}

.play-again:hover {
  background-color: #ED9B08;
  color: white;
}

/** Media Queries **/

@media only screen and (max-width: 900px) {
  .quiz-box {
    width: 90%;
  } .start-btn {
    width: 70%;
  } .buttons button {
    width: 60%;
  } .play-again {
    width: 60%;
  }
}
