<!DOCTYPE html>
<html lang="en" ng-app="turtleFacts">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>moviemoji</title>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="banner" style="background: url(images/cinemabackground.jpg) no-repeat center center">
    <div class="title">
      <h1>moviemoji</h1>
      <h3>Guess movies from emojis</h3>
    </div>
    <div class="flex-center" ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">
      <button class="btn btn-warning start-btn"
                ng-click="list.activateQuiz()">
        <strong>Start Quiz</strong>
      </button>
    </div>

    <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
      <!--
      <p>Correct: {{ quiz.correctCount }}</p>
      <p>Wrong: {{ quiz.wrongCount }}</p>
      <p>Answered: {{ quiz.questionCount }}</p>
      <p>Average: {{ quiz.accuracy }}</p>
      -->
      <div ng-hide="quiz.finalise" class="quiz-box">
        <div class="row">
          <div class="col-xs-2">
            <p>Correct:</p>
            <p>2</p>
          </div>
          <div class="col-xs-8">
            <div class="flex-center">
              <div ng-repeat="image in quiz.dataService.quizQuestions[quiz.activeQuestion].emojis">
                <img ng-src="{{ image.emoji }}" class="emoji">
              </div>
            </div>
          </div>

          <div class="col-xs-2">
            <p>Question:</p>
            <p>0/10</p>
          </div>
        </div>

        <div class="answer-bar flex-center">
          <form>
            <input ng-model="answer">
            <input type="button" ng-click="quiz.selectAnswer(answer)" ng-hide="quiz.hideSubmit" value="Submit">
            <p ng-click="quiz.revealAnswer();" class="see-answer">See Answer?</p>
            <p ng-show="quiz.showAnswer">{{ quiz.dataService.quizQuestions[quiz.activeQuestion].correctAnswer[0] }}</p>
          </form>
        </div>
        <div class="buttons">
          <button class="btn" ng-click="quiz.questionAnswered(); answer = ''">Next Movie</button>
          <button class="btn" ng-click="quiz.finaliseAnswers()">End Quiz</button>
        </div>

      </div>

    </div><!-- quiz controller -->

    <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
      <div class="quiz-box results">
        <h2>Results</h2>
        <h2>You Scored {{results.quizMetrics.numCorrect}} / {{results.dataService.quizQuestions.length}}</h2>
        <h2><strong>{{results.calculatePerc() | number:2}}%</strong></h2>
        <input type="button" value="Play Again" onClick="window.location.reload()">
        <br>
        <!--
        <button class="btn btn-primary btn-lg" ng-click="results.reset()">Go Back To Facts</button>
        -->
      </div>
    </div>

  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/controllers/results.js"></script>
    <script src="js/factories/quizMetrics.js"></script>
    <script src="js/factories/dataservice.js"></script>

</body>
</html>
